/*
Theme Name: Ignite - Londes Modded
Theme URI: http://competethemes.com/ignite
Author: Compete Themes
Author URI: http://competethemes.com/
Description: Ignite is a responsive blog theme. Customize your site with Ignite's built-in social media icons and logo uploader. Then, make your logo pixel-perfect with the logo size and position tools. Additional features are available with Ignite Plus.
Version: 1.11
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: orange, white, light, two-columns, right-sidebar, responsive-layout, custom-menu, featured-images, sticky-post, theme-options, threaded-comments

Ignite WordPress Theme, Copyright 2014 Compete Themes
Ignite is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "lusitana", serif;
  line-height: 1.5;
  background: #eeede8;
  color: #373b41;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.overflow-container {
  overflow: hidden;
}

.main {
  background: #eeede8;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
}
.main:after {
  content: '';
  position: absolute;
  top: -12em;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373b41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

p {
  margin: 1em 0;
}

a {
  color: #9a5ba4;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:link {
  color: #9a5ba4;
}
a:visited, a:hover, a:active {
  color: #a87227;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lusitana", serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h1 {
  font-size: 1.825em;
  /* 42px / 16px */
  line-height: 1.143;
}

h2 {
  font-size: 1.65em;
  /* 36px / 16px */
  line-height: 1.34;
}

h3 {
  font-size: 1.425em;
  /* 26px / 16px */
  line-height: 1.85;
}

h4 {
  font-size: 1.313em;
  /* 21px / 16px */
  line-height: 1.143;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.34;
}

h6 {
  font-size: 1em;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  background: #e8eaee;
  padding: 0.75em;
}

code {
  background: #e8eaee;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #9a5ba4;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 0.69em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
}

.alignnone {
  margin: 1.5em;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text {
  margin: 0 0 1.84502em;
  font-size: 0.813em;
  line-height: 1.85;
  color: #7c7d7f;
}

/* Form styles */
input[type="text"],input[type="password"],input[type="email"],input[type="tel"],
textarea {
  padding: 3px 10px;
  color: #7c7d7f;
  border: solid 1px #d9dcdf;
  font-family: "lusitana", serif;
  font-size: 0.813em;
  line-height: 1.85;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-appearance: none;
}

textarea {
  max-width: 41.625em;
}

input[type="submit"] {
  padding: 3px 10px;

}



input[type="search"] {
  margin-right: 1.5em;
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #7c7d7f;
}

:-moz-placeholder {
  color: #7c7d7f;
}

::-moz-placeholder {
  color: #7c7d7f;
}

:-ms-input-placeholder {
  color: #7c7d7f;
}

/* sticky */
.excerpt.sticky, .sticky.entry {
  outline: solid 3px #9a5ba4;
}

/* ie image border fix */
a img {
  border: none;
}

.site-header {
  background: white;
/*   height: .5em; */
  padding: 1.25em 3.703% 0;
  border-top: solid 4px #9a5ba4;
  position: relative;
}

.site-title {
  font-size: 1.625em;
  line-height: 1.85;
  position: absolute;
  top: 0.5em;
  right: 3.703%;
  z-index: 1;
}
.site-title a {
  text-decoration: none;
  color: #373b41;
}
.site-title a:hover {
  color: #9a5ba4;
}
.site-title img {
  max-width: 6em;
  max-height: 2.25em;
}
.site-title span {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toggle-navigation {
  color: #373b41;
  font-size: 1.625em;
  line-height: 1.35;
  position: absolute;
/*   Londes */
  top: 15px;
  z-index: 1;
  background: none;
  border: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.menu-primary {
  background: #373b41;
  width: 100%;
  min-height: 75em;
  max-width: 25em;
  /* 400px */
  position: absolute;
  border-top: solid 3px #9a5ba4;
/*   top: 4.275em; */
  left: 0;
  padding-top: 1.5em;
  text-align: center;
  z-index: -1;
}
.menu-primary p {
  color: #9a5ba4;
  display: inline-block;
  border-top: solid 2px #303338;
  border-bottom: solid 2px #303338;
  padding: 1.5em 0;
}

#menu-primary-items {
  list-style: none;
  width: 100%;
}

#menu-primary-items>li
{
	display: table-cell;
	width: 1%;
	float: none;
}
#menu-primary-items>li>a
{
	text-align: center;
}
.menu-primary-items li a,
.menu-unset li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 1.5em 0;
  display: block;
}
.menu-primary-items li a:hover,
.menu-unset li a:hover {
  color: #cb8bd5;
}
.menu-primary-items li ul li a,
.menu-unset li ul li a {
  font-size: 0.813em;
  color: #d9dcdf;
  margin-top: -1.5em;
}
.menu-primary-items li ul li a:hover,
.menu-unset li ul li a:hover {
  color: white;
}
.menu-primary-items li ul li ul a,
.menu-unset li ul li ul a {
  color: #7c7d7f;
}
.menu-primary-items ul,
.menu-unset ul {
  list-style: none;
}
.menu-primary-items .current-menu-item > a,
.menu-primary-items .current_page_item > a,
.menu-unset .current-menu-item > a,
.menu-unset .current_page_item > a {
  color: #9a5ba4;
}


.social-media-icons li {
  display: inline-block;
}
.social-media-icons li a {
  color: white;
  margin: 0 0.375em;
  text-decoration: none;
  /* for IE9 */
}
.social-media-icons li a:hover {
  color: #9a5ba4;
}

.site-header.toggled .menu-primary {
  z-index: 0;
}
.site-header.toggled + div .main:after {
  bottom: 0;
  opacity: 0.4;
}
.site-header.toggled + div .sidebar-primary-container:after {
  bottom: 0;
  opacity: 0.4;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .site-header {
    padding: 1.25em 7.407% 0;
  }

  .site-title {
    right: 7.407%;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-header {
    height: auto;
    min-height: 4.5em;
    padding: 0 11.11%;
  }
  .site-header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .toggle-navigation {
    display: none;
  }

  .title-info {
    float: left;
    margin-right: 3em;
    margin-top: 1.125em;
  }

  .site-title {
    position: static;
    line-height: 1;
    margin-right: 0.225em;
  }

  .menu-primary {
    position: static;
    max-width: none;
    min-height: 1px;
    width: auto;
    padding: 0;
    text-align: left;
    background: none;
  }
  .menu-primary p {
    display: none;
  }

  .menu-primary-items,
  .menu-unset {
    margin: 0;
    line-height: 0;
  }
  .menu-primary-items li,
  .menu-unset li {
    float: left;
    background: white;
    position: relative;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    transition: background 0.2s ease;
  }
  .menu-primary-items li ul
  {
	  border: 1px solid #ccaed2;
	  
  }
  .menu-primary-items li ul li
  {
	  background: #f1e6f5;
  }
  .menu-primary-items li ul,
  .menu-unset li ul {
    position: absolute;
    top: -999em;
    opacity: 0;
    margin: 0;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* remove slight wiggle caused by opacity change */
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
  }
  .menu-primary-items li ul:hover ul, .menu-primary-items li ul:focus ul,
  .menu-unset li ul:hover ul,
  .menu-unset li ul:focus ul {
    top: 0;
    left: 100%;
  }
  .menu-primary-items li:hover > a, .menu-primary-items li:active > a, .menu-primary-items li:focus > a,
  .menu-unset li:hover > a,
  .menu-unset li:active > a,
  .menu-unset li:focus > a {
    color: white;
  }
  .menu-primary-items li:hover > ul, .menu-primary-items li:active > ul, .menu-primary-items li:focus > ul,
  .menu-unset li:hover > ul,
  .menu-unset li:active > ul,
  .menu-unset li:focus > ul {
    top: 4.2495em;
    opacity: 1;
  }
  .menu-primary-items li:hover > ul li, .menu-primary-items li:active > ul li, .menu-primary-items li:focus > ul li,
  .menu-unset li:hover > ul li,
  .menu-unset li:active > ul li,
  .menu-unset li:focus > ul li {
    min-width: 100%;
  }
  .menu-primary-items li:hover > ul li a, .menu-primary-items li:active > ul li a, .menu-primary-items li:focus > ul li a,
  .menu-unset li:hover > ul li a,
  .menu-unset li:active > ul li a,
  .menu-unset li:focus > ul li a {
    margin-top: 0;
    color: #373b41;
    white-space: nowrap;
  }
  .menu-primary-items li:hover > ul li:hover > a, .menu-primary-items li:hover > ul li:active > a, .menu-primary-items li:hover > ul li:focus > a, .menu-primary-items li:active > ul li:hover > a, .menu-primary-items li:active > ul li:active > a, .menu-primary-items li:active > ul li:focus > a, .menu-primary-items li:focus > ul li:hover > a, .menu-primary-items li:focus > ul li:active > a, .menu-primary-items li:focus > ul li:focus > a,
  .menu-unset li:hover > ul li:hover > a,
  .menu-unset li:hover > ul li:active > a,
  .menu-unset li:hover > ul li:focus > a,
  .menu-unset li:active > ul li:hover > a,
  .menu-unset li:active > ul li:active > a,
  .menu-unset li:active > ul li:focus > a,
  .menu-unset li:focus > ul li:hover > a,
  .menu-unset li:focus > ul li:active > a,
  .menu-unset li:focus > ul li:focus > a {
    color: white;
  }
  .menu-primary-items li a,
  .menu-unset li a {
    color: #373b41;
    margin: 0 0.75em;
    font-size: 0.813em;
    line-height: 5.231em;
    /* 68px */
/*     letter-spacing: 0.1em; */
  }
  .menu-primary-items li a:hover, .menu-primary-items li a:focus,
  .menu-unset li a:hover,
  .menu-unset li a:focus {
    color: white;
  }
  .menu-primary-items li:hover,
  .menu-unset li:hover {
    background: #9a5ba4;
  }
  .menu-primary-items:after,
  .menu-unset:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .social-media-icons {
    display: none;
  }

  #menu-primary-items,
  .menu-unset {
    /* using id to avoid annoying selector competition */
  }
  #menu-primary-items .current-menu-item,
  #menu-primary-items .current_page_ancestor,
  #menu-primary-items .current_page_item,
  #menu-primary-items .current_page_ancestor,
  .menu-unset .current-menu-item,
  .menu-unset .current_page_ancestor,
  .menu-unset .current_page_item,
  .menu-unset .current_page_ancestor {
    background: #ba87c2;
  }
  #menu-primary-items .current-menu-item > a,
  #menu-primary-items .current_page_ancestor > a,
  #menu-primary-items .current_page_item > a,
  #menu-primary-items .current_page_ancestor > a,
  .menu-unset .current-menu-item > a,
  .menu-unset .current_page_ancestor > a,
  .menu-unset .current_page_item > a,
  .menu-unset .current_page_ancestor > a {
    color: white;
  }

  /* because .menu-primary-items is a 'ul' this needs to be declared separately */
  .menu-unset ul {
    margin: 0;
  }
  .menu-unset ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  /* show drop down items when accessed with keyboard too */
  ul.focused {
    left: 0;
    top: 4.2495em !important;
    opacity: 1 !important;
  }
  ul.focused > li > a {
    margin-top: 0 !important;
    color: #373b41;
/*     white-space: nowrap; */
  }

  li.focused {
    background: #9a5ba4;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-header {
    padding: 0 7.407%;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .menu-primary p {
    margin: 1.0625em 3em 0 -3em;
    display: inline-block;
    line-height: 2;
    color: #7c7d7f;
    border: none;
    padding: 0;
    float: left;
  }

  .site-title {
    float: left;
  }
}
/* 1200px */
@media all and (min-width: 75em) {
  .menu-primary-items,
  .menu-unset {
    float: left;
    /* for the social media buttons */
  }


  .social-media-icons {
    display: inline-block;
    margin: 0;
/*
	Londes
    margin: 0;
    float: right;
*/

  }
  .social-media-icons li{
	  height: 10px;
	  margin:0;
	  padding:0;
  }
  .social-media-icons li a {
    color: #373b41;
    line-height: 4.25em;
    /* 68px */
  }
  .social-media-icons li a:hover {
    color: #9a5aa3;
  }
  .social-media-icons li:last-child a {
    margin-right: 0;
  }
}
.main,
.sidebar-primary-container,
.site-footer {
  padding: 1.5em 3.703%;
}

.excerpt, .entry {
  background: white;
  margin: 0 0 1em 0 ;
  padding: 20px 40px;
}

/*
.excerpt.has-post-thumbnail, .has-post-thumbnail.entry {
  padding-top: 0;
}
*/

.featured-image {
  height: 12em;
  background-size: cover;
  background-position: 50%;
  position: relative;
  left: -9.5%;
  width: 119%;
  margin-bottom: 1.5em;
}

.excerpt-meta-top, .entry-meta-top {
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  position: relative;
  color: #797979
}
.excerpt-meta-top:after, .entry-meta-top:after {
  content: '';
  position: absolute;
  width: 32%;
  height: 2px;
  background: #9a5ba4;
  bottom: 0;
  left: 0;
}
.excerpt-meta-top a, .entry-meta-top a {
  text-decoration: none;
  color: #373b41;
}
.excerpt-meta-top a:link, .entry-meta-top a:link, .excerpt-meta-top a:visited, .entry-meta-top a:visited {
  color: #373b41;
}
.excerpt-meta-top a:hover, .entry-meta-top a:hover, .excerpt-meta-top a:active, .entry-meta-top a:active {
  color: #9a5ba4;
}

.excerpt-title, .entry-title {
  font-weight: 700;
  font-size: 1.825em;
  line-height: 1.385;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
.excerpt-title a, .entry-title a {
  color: #373b41;
  text-decoration: none;
}
.excerpt-title a:link, .entry-title a:link, .excerpt-title a:visited, .entry-title a:visited {
  color: #373b41;
}
.excerpt-title a:hover, .entry-title a:hover, .excerpt-title a:active, .entry-title a:active {
  color: #7c7d7f;
}

/*
.excerpt-content {
  border-bottom: solid 2px #d9dcdf;
}
*/

.more-link {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 2.25em;
  width: 6.75em;
  background: #9a5ba4;
  color: white;
  margin: 1.625em 0 1.5005em;
  /* subtracted 2px border on excerpt-content */
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.more-link:link, .more-link:visited {
  color: white;
}
.more-link:hover, .more-link:active {
  background: #a87227;
}

.excerpt-categories, .entry-categories,
.excerpt-tags,
.entry-tags {
  color: #7c7d7f;
}
.excerpt-categories p, .entry-categories p,
.excerpt-tags p,
.entry-tags p {
  margin: 0.75em 0 0;
  padding-left: 1.5em;
}
.excerpt-categories i, .entry-categories i,
.excerpt-tags i,
.entry-tags i {
  margin-left: -1.5em;
}
.excerpt-categories a, .entry-categories a,
.excerpt-tags a,
.entry-tags a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.813em;
  line-height: 1.7;
  margin-right: 0.75em;
}
.excerpt-categories a:link, .entry-categories a:link, .excerpt-categories a:visited, .entry-categories a:visited,
.excerpt-tags a:link,
.entry-tags a:link,
.excerpt-tags a:visited,
.entry-tags a:visited {
  color: #7c7d7f;
}
.excerpt-categories a:hover, .entry-categories a:hover, .excerpt-categories a:active, .entry-categories a:active,
.excerpt-tags a:hover,
.entry-tags a:hover,
.excerpt-tags a:active,
.entry-tags a:active {
  color: #9a5ba4;
}

.excerpt-categories i, .entry-categories i {
  margin-right: 0.4375em;
}

.excerpt-tags i, .entry-tags i {
  margin-right: 0.625em;
}

.loop-pagination {
  background: white;
  padding: 0.75em;
  border-top: solid 2px #9a5ba4;
  text-align: center;
  margin-bottom: 1.5em;
}
.loop-pagination span,
.loop-pagination a {
  margin: 0 0.375em;
}
.loop-pagination a {
  text-decoration: none;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .featured-image {
    height: 15em;
  }

  .excerpt-meta-top:after, .entry-meta-top:after {
    width: 20%;
  }
}
/* 600px */
@media all and (min-width: 37.5em) {
  .main,
  .sidebar-primary-container,
  .site-footer {
    padding: 1.5em 7.407%;
  }

  .loop-pagination span,
  .loop-pagination a {
    margin: 0 0.75em;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .featured-image {
    height: 18em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .main,
  .sidebar-primary-container,
  .site-footer {
    padding: 1.5em 11.11%;
  }

  .excerpt, .entry {
    padding: 20px 40px;
      margin: 0 0 1em 0 ;

  }

  .featured-image {
    left: -20%;
    width: 140%;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  /* switch from padding to width */
  .main {
    width: 55.55%;
    padding: 1.5em 0;
    float: left;
    margin: 0 3.703% 0 7.407%;
  }

  .sidebar-primary-container, .site-footer {
    padding: 1.5em 7.407%;
  }

  .excerpt, .entry {
    padding: 20px 40px;
      margin: 0 0 1em 0 ;

  }

  .featured-image {
    left: -18%;
    width: 136%;
  }

  .loop-pagination {
    margin-bottom: 3em;
  }
}
/* 1000px */
@media all and (min-width: 62.5em) {
  .excerpt, .entry {
	    margin: 0 0 1em 0 ;

    padding-top: 3em;
  }

/*
  .excerpt.has-post-thumbnail, .has-post-thumbnail.entry {
    padding-top: 0;
  }
*/

  .excerpt-title, .entry-title {
    font-size: 1.825em;
    line-height: 1.143;
  }

  .excerpt-categories, .entry-categories,
  .excerpt-tags,
  .entry-tags {
    display: inline-block;
  }

  .excerpt-categories, .entry-categories {
    margin-right: 0.75em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .main {
    width: 59.253%;
  }

  .excerpt, .entry {
    padding: 20px 40px;
      margin: 0 0 1em 0 ;

  }

/*
  .excerpt.has-post-thumbnail, .has-post-thumbnail.entry {
    padding-top: 0;
  }
*/

  .featured-image {
    height: 21em;
    left: -16.67%;
    width: 133.33%;
  }
}
/* 1200px */
@media all and (min-width: 75em) {
  .featured-image {
    height: 22.5em;
  }
}
.sidebar-primary-container {
  position: relative;
  /* used to set neg z-index so main overlay covers it */
  background: #eeede8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* for when the menu is toggled open */
  /* widget-specific styling */
}
.sidebar-primary-container:after {
  content: '';
  position: absolute;
  top: 0;
  /* to guarantee covering up breadcrumb trail if present*/
  left: 0;
  width: 100%;
  background: #373b41;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.sidebar-primary-container .widget {
  background: white;
  border-top: solid 3px #9a5ba4;
  font-size: 0.813em;
  line-height: 1.85;
  margin: 1.84502em 0;
  padding: 20px 40px;
}
.sidebar-primary-container .widget ul {
  list-style: none;
  margin: 1em 0 1.84502em;
}
.sidebar-primary-container .widget ul li {
  padding: 0.846em 0.5em 0.923em 0;
  /* subtracted 1px for border */
  margin: 0;
  border-bottom: solid 1px #d9dcdf;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar-primary-container .widget ul li:last-child {
  border: none;
}
.sidebar-primary-container .widget ul li a {
  display: block;
  text-decoration: none;
}
.sidebar-primary-container .widget ul li:hover {
  background: rgba(240, 240, 240, 0.15);
  padding-left: 0.5em;
  padding-right: 0;
  /* added above to be removed now so the space doesn't decrease at all */
}
.sidebar-primary-container .widget ul ul {
  margin: 0 0 0 1em;
}
.sidebar-primary-container .widget ul ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.sidebar-primary-container .widget a {
  color: #373b41;
}
.sidebar-primary-container .widget a:link, .sidebar-primary-container .widget a:visited {
  color: #373b41;
}
.sidebar-primary-container .widget a:hover, .sidebar-primary-container .widget a:active {
  color: #9a5ba4;
}
.sidebar-primary-container .widget-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-size: 1em;
  line-height: 1.85;
  margin-bottom: 1.84502em;
}
.sidebar-primary-container .widget-archives ul li,
.sidebar-primary-container .widget-categories ul li {
  position: relative;
}
.sidebar-primary-container .widget-archives ul li span,
.sidebar-primary-container .widget-categories ul li span {
  float: right;
  margin-top: -1.75em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar-primary-container .widget-archives ul li:hover span,
.sidebar-primary-container .widget-categories ul li:hover span {
  padding-right: 0.75em;
}

/* 800px */
@media all and (min-width: 50em) {
/*
  .sidebar-primary-container .widget {
    padding: 1.615em 14.33% 0.923em;
  }
*/
}
/* 900px */
@media all and (min-width: 56.25em) {
  .sidebar-primary-container {
    width: 25.923%;
    padding: 1.5em 0;
    float: left;
    margin-top: 0;
  }

  .widget:first-child {
    margin-top: 0;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .sidebar-primary-container {
    width: 22.222%;
    margin-top: 0;
  }
}
.entry-content {
  margin-top: 1.5em;
}
.entry-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.further-reading {
  margin: 1.5em 0;
}
.further-reading span {
  border-bottom: solid 1px #9a5ba4;
  font-weight: 700;
  position: relative;
}
.further-reading a {
  color: #373b41;
  text-decoration: none;
  display: block;
}
.further-reading a:link, .further-reading a:visited {
  color: #373b41;
}
.further-reading a:hover, .further-reading a:active {
  color: #9a5ba4;
}

.author-meta {
  background: #f5f5f5;
  border: solid 1px #e8eaee;
  padding: 1.5em;
  margin: 1.5em 0;
}
.author-meta h4 {
  font-weight: 700;
  border-bottom: solid 1px #9a5ba4;
  display: inline-block;
  padding-bottom: 3px;
}
.author-meta h4 a {
  text-decoration: none;
  color: #373b41;
}
.author-meta h4 a:link, .author-meta h4 a:visited {
  color: #373b41;
}
.author-meta h4 a:hover, .author-meta h4 a:active, .author-meta h4 a:focus {
  color: #9a5ba4;
}
.author-meta img {
  border-radius: 50%;
  float: left;
  margin-right: 1.5em;
}
.author-meta p {
  margin-top: 0.75em;
  margin-left: 6em;
}

/* 700px */
@media all and (min-width: 43.75em) {
  .further-reading p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 4%;
  }
  .further-reading .next {
    text-align: right;
    padding: 0 0 0 4%;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .entry {
    margin-bottom: 1.5em;
  }
}
.comments {
  background: white;
  margin: -1.5em 0 3em;
  padding: 0 8% 2.25em;
}

.comments-number {
  border-top: solid 2px #d9dcdf;
  padding-top: 1.375em;
}

.comment-list {
  list-style: none;
  margin: 1.5em 0;
}
.comment-list ul {
  list-style: none;
  margin: 1.5em 0 1.5em 1.5em;
}
.comment-list ul li:first-child:before {
  content: "\2192";
  position: absolute;
  left: -1.5em;
  top: 1em;
}

li.comment,
li.pingback {
  margin-bottom: 3em;
  position: relative;
}

.comment-content {
  margin-left: 3.75em;
}
.comment-content p:first-child {
  margin-top: 0;
}
.comment-content p:last-child {
  margin-bottom: 1.437em;
  /* b/c comment meta border */
}

.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.comment-author img {
  width: 3em;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 0.75em;
}
.comment-author .author-name {
  font-weight: 700;
}
.comment-author .author-name a {
  color: #9a5ba4;
  text-decoration: none;
}
.comment-author .author-name a:link, .comment-author .author-name a:visited {
  color: #9a5ba4;
}
.comment-author .author-name a:hover, .comment-author .author-name a:active {
  color: #a87227;
}

.comment-meta {
  font-size: 0.813em;
  line-height: 1.85;
  display: inline-block;
  border-top: solid 1px #d9dcdf;
  margin-left: 4.6125em;
}

.comment-date {
  display: inline-block;
}

.comment-reply-link,
.comment-edit-link {
  text-decoration: none;
}
.comment-reply-link:before,
.comment-edit-link:before {
  content: ' | ';
  color: #373b41;
}

.bypostauthor .comment-author img {
  border: solid 2px #9a5ba4;
}

.comment-respond {
  margin-top: 3em;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .comment-pagination p {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .comment-pagination .next-comment {
    text-align: right;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .comments {
    padding: 0 14.333% 2.25em;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .comments {
    padding: 0 13.333% 2.25em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .comments {
    padding: 0 12.5% 2.25em;
  }
}
.site-footer {
  background: #373b41;
  color: #7c7d7f;
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.site-footer a {
  color: #7c7d7f;
  text-decoration: none;
}
.site-footer a:link, .site-footer a:visited {
  color: #7c7d7f;
}
.site-footer a:hover, .site-footer a:active {
  color: #9a5ba4;
}

.design-credit {
  background: #303338;
  color: #7c7d7f;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  padding: 0.75em;
  margin-top: 3em;
  position: relative;
  left: -4%;
  width: 108%;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .design-credit {
    left: -9%;
    width: 118%;
  }
}
/* 700px */
@media all and (min-width: 43.75em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .sidebar-subsidiary:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  .design-credit {
    clear: both;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .site-footer {
    padding: 1.5em 7.407% 0;
  }
}
/* 900px */
@media all and (min-width: 56.25em) {
  .site-footer {
    padding: 1.5em 3.703% 0;
  }

  .design-credit {
    left: -4%;
    width: 108%;
  }
}
/* screen reader styling */
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* skip content link */
.skip-content {
  position: absolute;
  top: -4.5em;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #373b41;
  -webkit-transition: top 0.2s ease;
  -moz-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
  transition: top 0.2s ease;
}
.skip-content:focus {
  top: 0;
}

.page {
  /* because of breadcrumbs */
}
.page .entry {
  padding-top: 1.5em;
}

/* 700px */
@media all and (min-width: 43.75em) {
  .page .entry-title {
    font-size: 1.825em;
    line-height: 1.14;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .page .entry {
    padding-top: 3em;
  }
}
.breadcrumbs {
  text-transform: uppercase;
  color: #7c7d7f;
  letter-spacing: 0.08em;
  padding: 1.5em 3.703% 0;
  background: #eeede8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.breadcrumbs a {
  text-decoration: none;
  color: #9a5ba4;
}
.breadcrumbs a:link, .breadcrumbs a:visited {
  color: #9a5ba4;
}
.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #a87227;
}
.breadcrumbs span {
  opacity: 0.7;
}
.breadcrumbs + div .excerpt, .breadcrumbs + div .entry {
  margin-top: 0;
}

/* 600px  breadcrumbs */
@media all and (min-width: 37.5em) {
  .breadcrumbs {
    padding: 1.5em 7.407% 0;
  }
}
/* 800px  breadcrumbs */
@media all and (min-width: 50em) {
  .breadcrumbs {
    padding: 1.5em 11.11% 0;
  }
}
/* 900px  breadcrumbs */
@media all and (min-width: 56.25em) {
  .breadcrumbs {
    padding: 1.5em 7.407% 0;
    /* remove margin top on sidebar (and main which didn't have any anyway)*/
  }
  .breadcrumbs ~ div {
    margin-top: 0;
  }
}
.error404 .entry,
.search .entry {
  margin-bottom: 0;
}
.error404 .entry-header,
.search .entry-header {
  padding-top: 1.5em;
}

.search-form {
  margin-top: 1.5em;
}
.search-form input[type="submit"] {
  max-width: 27.75em;
  margin-top: 1.5em;
}

.search .container {
  background: white;
  margin-top: 1.5em;
}
.search .search-end {
  padding: 1.5em 8% 2.25em;
}
.search .search-end.bottom {
  padding-top: 0;
}

.search-no-results .search-end.top .search-form-container {
  display: none;
}

/* 500px */
@media all and (min-width: 31.25em) {
  .search-form input[type="submit"] {
    max-width: 13.875em;
  }
}
/* 800px */
@media all and (min-width: 50em) {
  .error404 .entry-header {
    padding-top: 2.25em;
  }

  .search .container {
    padding: 1.5em 0;
  }
  .search .search-end {
    padding: 1.5em 14.333% 2.25em;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .search .search-end {
    padding: 1.5em 12.5% 2.25em;
  }
}





















/* Londes Added */



.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


.site-header a {text-decoration: none; color: #000000;}


.clear {clear:both}

.footer-nav {display: block; width: 100%;}
.footer-nav .section {width: 25%; float: left;}
.footer-nav .section ul li {list-style: none; text-align: center;}

@media all and (max-width: 50em) {
.footer-nav .section {float: none; width: 100%;}
}




input[type="submit"] {
  padding: 12px;
  background: #9a5ba4;
  border: none;
  color: #ffffff;
  display: block;
}
input[type="submit"]:hover
{
  background: #b879c1;
}


footer .contact-form p
{
	margin: 0 0 5px 0;
}


.shareaholic-canvas
{
	border-top: 1px solid #ededed;
}









#pre-footer
{
	background: #DECDE4; 
	width: 100%;
}

#pre-footer .section-container
{
	width: 540px;
	margin: 0 auto;
	padding: 20px 0;
}
#pre-footer .section-container p
{
	margin: 0; padding: 5px;
}
#pre-footer .section-container .section-1, #pre-footer .section-container .section-2
{
	float: left;
	width: 270px;
	
}
#pre-footer .section-container textarea
{
	height: 73px;
	width: 100%;
}

#pre-footer .section-container input
{
	padding: 8px 12px;
	margin-top: -4px;
	width: 100%;
	display: inline;
}

#pre-footer .section-container input[type="submit"]
{
	padding: 8px 12px;
	margin-top: -4px;
	display: inline;
}

#pre-footer .section-container .wpcf7-response-output
{
	margin: 10px 0;
}


.text-center {text-align: center;}


.attachment-thumbnail {float: right; margin: 0 0 0 20px; border: 1px solid #c1c1c1; padding: 5px;}




#wpmem_ul_search fieldset {background: none !important; height: auto !important; margin-top: -20px !important}
#wpmem_search_form { background: rgba(247, 245, 231, 0.7);}




#wpmem-ul-list {clear: both}